{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"installedESLint": true,
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"strict": "warn",
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		],
		"react/jsx-uses-react": "warn",
		"react/react-in-jsx-scope": "off",
		"react/prefer-stateless-function": "warn",
		"react/sort-comp": ["warn", {
			"groups": {
				"lifecyle": [
					"constructor",
					"displayName",
					"propTypes",
					"contextTypes",
					"childContextTypes",
					"statics",
					"defaultProps",
					"getChildContext",
					"componentWillMount",
					"componentDidMount",
					"componentWillReceiveProps",
					"shouldComponentUpdate",
					"componentWillUpdate",
					"componentDidUpdate",
					"componentWillUnmount"
				]
			}
		}],
		"react/prefer-es6-class": ["warn", "always"],
		"react/jsx-no-bind": "warn",
		"react/jsx-closing-bracket-location": "warn",
		"react/jsx-equals-spacing": "warn",
		"react/jsx-curly-spacing": ["warn", "always", {"spacing": {
			"objectLiterals": "never"
		}}]
	}
}
