*.DS_Store
node_modules
npm-debug.log

src/config.js

# ignore build results
extension_chrome/js/
extension_chrome/css/
extension_chrome.zip

electron/js/*
!electron/js/main.js
electron/dist
electron/Comics Reader-linux-ia32

server/.env

# ignore jekyll build
docs/_site
