*.DS_Store
node_modules
npm-debug.log

src/config.js

# ignore build results
extension_chrome/js/
extension_chrome/css/
extension_chrome.zip

electron/js/
electron/dist

# other npm modules
comics-dm5/dist

server/.env
