.switchArea {
	width: 8em;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0;
	top: 0;
	transition: all .2s;

	&:hover {
		opacity: 0.6;
		cursor: pointer;
	}

	.material-icons {
		top: 42%;
		position: absolute;
		margin-left: -.1em;
		color: white;
    font-size: 7em;
	}
}

.switchArea.right {
	width: 10em;
	right: 0;

	.material-icons {
		top: 42%;
		position: absolute;
		margin-left: .1em;
		color: white;
    font-size: 7em;
	}
}
